@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Color+Emoji&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --font-sans: "Roboto", "Noto Color Emoji", ui-sans-serif, sans-serif;
    --font-serif: "PT Serif", ui-serif, serif;
    --font-mono: "JetBrains Mono", ui-monospace, monospace;
    --color-base: oklch(0.1 0.08 280);
    --color-base-light: oklch(0.2 0.08 280);
    --color-dark-gray: oklch(0.4 0.06 280);
    --color-gray: oklch(0.5 0.06 280);
    --color-light-gray: oklch(0.7 0.06 280);
    --color-text: oklch(0.9 0.01 280);
    --color-accent-light: oklch(0.7 0.15 280);
    --color-accent: oklch(0.6 0.2 280);
    --color-accent-dark: oklch(0.5 0.2 280);
    --color-red: oklch(0.6 0.2 30);
}

form {
    @apply flex flex-col justify-center items-center gap-4;
}

input {
    @apply border-2 border-dark-gray px-1 py-2 rounded-xs focus:outline-none focus:border-text w-full;
}

input[type="checkbox"] {
    @apply h-4 w-4;
}

textarea {
    @apply overflow-y-scroll [&::-webkit-scrollbar]:hidden block p-1 border w-full border-light-gray focus:border-white focus:outline-none;
}

.my-button {
    @apply px-3 py-1 rounded-xs border-2 border-accent bg-transparent text-white font-bold cursor-pointer hover:border-transparent hover:bg-accent-dark transition;
}

.my-error {
    @apply text-red font-bold w-full;
}

.cursor-pointer button {
    cursor: pointer;
}
